<a href="https://colab.research.google.com/github/vuongtran31251023271-code/Th-/blob/main/3itech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
with open ("Text.txt",mode="w") as data:
  data.write("1 Nguyễn Văn A 8\n")
  data.write("2 Nguyễn Văn B 8.9\n")
  data.write("1 Nguyễn Văn C 8.8\n")
  data.write("1 Nguyễn Văn D 8.6\n")

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import pandas as pd
url="/content/drive/MyDrive/giangvien.csv"
dataframe=pd.read_csv(url)
dataframe.head()

   STT          Ho va ten  Diem
0    1      Dang Tri Dung     8
1    2  Nguyen Minh Trieu    10
2    3       Do Tri Cuong     9
3    4           Le Thi B     8
4    5      Tran Xuan Loi    10

In [10]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/giangvien.csv")
df.describe()

            STT       Diem
count  10.00000  10.000000
mean    5.50000   8.400000
std     3.02765   1.173788
min     1.00000   7.000000
25%     3.25000   7.250000
50%     5.50000   8.500000
75%     7.75000   9.000000
max    10.00000  10.000000